<section class='section'>
  <div class='container'>
    <div class='columns'>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
      <%= render 'trends' %>
    </div>
  </div>
</section>

 

<%= link_to 'New Breet', new_breet_path %>
